name: Laravel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mbstring, bcmath, xml, fileinfo, sqlite

      - name: Copy testing env
        run: cp .env.testing .env

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-interaction

      - name: Generate APP_KEY
        run: php artisan key:generate

      - name: Set directory permissions
        run: chmod -R 777 storage bootstrap/cache database

      - name: Run migrations
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: ':memory:'
          APP_ENV: testing
        run: php artisan migrate --force

      - name: Run tests
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: ':memory:'
          APP_ENV: testing
          MAIL_MAILER: log
        run: php artisan test
